.version.google_login_verification /* version checker */
{
	color: #0000E1;
	background-color: #A2250C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#pu793
{
	width: 0.01px;
	margin-right: -10000px;
}

#u793
{
	z-index: 5;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u793_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u799
{
	z-index: 7;
	width: 65px;
	height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
	left: 291px;
}

.ie #u799
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u902
{
	z-index: 8;
	width: 158px;
	border-style: none;
	border-color: transparent;
	background-color: #F1F1F1;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 210px;
}

#u905-4
{
	z-index: 9;
	width: 157px;
	min-height: 11px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 8px;
}

#u905
{
	font-size: 11px;
}

#u906
{
	z-index: 13;
	width: 328px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 36px;
}

#u907-4
{
	z-index: 14;
	width: 214px;
	min-height: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
}

#u462
{
	z-index: 2;
	padding-bottom: 9px;
}

#u463
{
	z-index: 3;
	width: 22px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 12px;
}

#u462-bw
{
	z-index: 2;
	margin-bottom: -39px;
	margin-top: 570px;
	height: 30px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 38px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -570px;
}

