.version.mastercard_good /* version checker */
{
	color: #0000F4;
	background-color: #A37811;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: -39px;
}

#pu1204
{
	width: 0.01px;
}

#u1204
{
	z-index: 5;
	border-style: none;
	border-color: transparent;
	background-color: #E3DDE7;
	padding-left: 95px;
	padding-top: 58px;
	padding-right: 96px;
}

#u1205
{
	z-index: 6;
	width: 43px;
	background-color: transparent;
	margin-left: 77px;
	position: relative;
}

#u1207-5
{
	z-index: 12;
	width: 189px;
	min-height: 58px;
	background-color: transparent;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 94px;
	position: relative;
}

#u1207-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #4A4A4A;
	font-style: italic;
}

#u1207-3
{
	text-align: left;
	color: #FFFFFF;
}

#u1204-bw
{
	z-index: 5;
	height: 195px;
}

#u1200
{
	z-index: 8;
	width: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 155px;
}

#u1202
{
	z-index: 10;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 208px;
}

#u1202_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#pu1231-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 39px;
}

#u1231-4
{
	z-index: 23;
	width: 147px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1232-4
{
	z-index: 27;
	width: 96px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 134px;
}

#pu1233-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 12px;
}

#u1233-4
{
	z-index: 31;
	width: 147px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1234-4
{
	z-index: 35;
	width: 96px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#pu1235-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 13px;
}

#u1235-4
{
	z-index: 39;
	width: 147px;
	min-height: 22px;
	background-color: transparent;
	color: #EB4C66;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1236-4
{
	z-index: 43;
	width: 96px;
	min-height: 22px;
	background-color: transparent;
	color: #39B54A;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u1237-4
{
	z-index: 47;
	width: 165px;
	min-height: 1px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 8px;
	line-height: 10px;
	text-align: left;
	margin-left: 78px;
	position: relative;
}

#u1237
{
	font-family: asap, sans-serif;
	font-weight: 400;
}

#u1238-4
{
	z-index: 51;
	width: 269px;
	min-height: 1px;
	background-color: transparent;
	color: #EB4C66;
	font-size: 8px;
	line-height: 10px;
	text-align: center;
	margin-left: 56px;
	margin-top: 27px;
	position: relative;
}

#u1225
{
	z-index: 17;
	width: 55px;
	background-color: transparent;
	margin-left: 163px;
	margin-top: 27px;
	position: relative;
}

#u1213-4
{
	z-index: 19;
	width: 133px;
	min-height: 15px;
	background-color: transparent;
	color: #4A4A4A;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	margin-left: 124px;
	margin-top: 12px;
	position: relative;
}

#u462
{
	z-index: 2;
	padding-bottom: 9px;
}

#u463
{
	z-index: 3;
	width: 22px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 12px;
}

#u462-bw
{
	z-index: 2;
	margin-top: 31px;
	height: 30px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 38px;
}

#page .verticalspacer
{
	clear: both;
}

