.version.mastercard /* version checker */
{
	color: #00000F;
	background-color: #A90946;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: -39px;
}

#pu1111
{
	width: 0.01px;
}

#u1111
{
	z-index: 5;
	border-style: none;
	border-color: transparent;
	background-color: #E3DDE7;
	padding-left: 87px;
	padding-top: 58px;
	padding-right: 104px;
}

#u1099
{
	z-index: 6;
	width: 43px;
	background-color: transparent;
	margin-left: 76px;
	position: relative;
}

#u1112-5
{
	z-index: 12;
	width: 189px;
	min-height: 58px;
	background-color: transparent;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 94px;
	position: relative;
}

#u1112-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #4A4A4A;
	font-style: italic;
}

#u1112-3
{
	text-align: left;
	color: #FFFFFF;
}

#u1111-bw
{
	z-index: 5;
	height: 195px;
}

#u1093
{
	z-index: 8;
	width: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 146px;
}

#u1105
{
	z-index: 10;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 199px;
}

#u1105_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#pu1246-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 33px;
}

#u1246-4
{
	z-index: 25;
	width: 147px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1247-4
{
	z-index: 29;
	width: 96px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#u1248-4
{
	z-index: 33;
	width: 147px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1249-4
{
	z-index: 37;
	width: 96px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#pu1248-4,#pu1250-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 13px;
}

#u1250-4
{
	z-index: 41;
	width: 147px;
	min-height: 22px;
	background-color: transparent;
	color: #EB4C66;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1251-4
{
	z-index: 45;
	width: 96px;
	min-height: 22px;
	background-color: transparent;
	color: #EB4C66;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#u1252-4
{
	z-index: 49;
	width: 165px;
	min-height: 1px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 8px;
	line-height: 10px;
	text-align: left;
	margin-left: 78px;
	position: relative;
}

#u1252
{
	font-family: asap, sans-serif;
	font-weight: 400;
}

#u1253-4
{
	z-index: 53;
	width: 269px;
	min-height: 1px;
	background-color: transparent;
	color: #EB4C66;
	font-size: 8px;
	line-height: 10px;
	text-align: center;
	margin-left: 56px;
	margin-top: 26px;
	position: relative;
}

#pu1120
{
	width: 0.01px;
	margin-left: 143px;
	margin-top: 13px;
}

#u1120
{
	z-index: 17;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 19px;
}

#u1126
{
	z-index: 19;
	width: 48px;
	background-color: transparent;
	-webkit-transform: matrix(0.7986,0.6018,-0.6018,0.7986,19,-10);
	-ms-transform: matrix(0.7986,0.6018,-0.6018,0.7986,19,-10);
	-o-transform: matrix(0.7986,0.6018,-0.6018,0.7986,19,-10);
	transform: matrix(0.7986,0.6018,-0.6018,0.7986,19,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u1132-4
{
	z-index: 21;
	width: 133px;
	min-height: 15px;
	background-color: transparent;
	color: #4A4A4A;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	margin-left: 124px;
	margin-top: 12px;
	position: relative;
}

#u462
{
	z-index: 2;
	padding-bottom: 9px;
}

#u463
{
	z-index: 3;
	width: 22px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 12px;
}

#u462-bw
{
	z-index: 2;
	margin-top: 30px;
	height: 30px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 38px;
}

#page .verticalspacer
{
	clear: both;
}

