<template name="vouch">
	<div class="vouchContainer">
		<form class="new-vouch">
			<button class="upload">Upload</button>
			<button class="takePhoto">Shoot</button>
			<button class="search">Search</button>
			<br/>
			<img src='' class='' />
			<br/>
			<input name='brief' type='text' placeholder='Vouch brief...'>
			<br/>
			<input name='price' type='text' placeholder='How much?'>
			<br/>
			<input name='deadline' type='date'>
			<br/>
			<textarea name='story' placeholder='Vouch your first story here!...'></textarea>
			<br/>
			<input type='submit' value="Vouch it like it's hot!" />
		</form>
	</div>
</template>
